@model CS.Core.DTO.Repairs.RepairUpdateDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label asp-for="Сause" class="control-label"></label>
                <input asp-for="Сause" class="form-control" />
                <span asp-validation-for="Сause" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <input asp-for="Result" class="form-control" />
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <select asp-for="OwnerId" asp-items="ViewBag.Owners" class="selectpicker"></select>
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterId" class="control-label"></label>
                <select asp-for="MasterId" asp-items="ViewBag.Masters" class="selectpicker"></select>
                <span asp-validation-for="MasterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairStatusId" class="control-label"></label>
                <select asp-for="RepairStatusId" asp-items="ViewBag.RepairStatuses" class="selectpicker"></select>
                <span asp-validation-for="RepairStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
